*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.list_1{
  /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
  margin-top: 50px;
  margin-bottom:20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
p{
  font-family: 'Times New Roman', Times, serif;
}